*{
    font-family: "Inter";
}

body{
    background: #101010;
    color: white;
    margin: 0;
    overflow-x: hidden;
}

.header {
  background: #000;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header a {
  align-self: flex-end;
}

.header img{
    margin-right: 4vw;
}

.in_put{
    font-size: 2vh;
}

@media screen and (max-width: 650px) {
    .menu {
        width: 100%;
        text-align: center; 
        margin-bottom: 10px;
    }
}

.menu,.in_put{
    margin-top: auto; 
    margin-bottom: 1.5vh; 
    font-size: 3vh;
    padding: 0 2.5vw;
}

a {
    text-decoration: none;
    color: white;
}
  
a:hover {
    text-decoration: underline;
}

a:visited {
    color: white;
}

.booder {
    width: 90%; 
    max-width: 1200px; 
    margin: 0 auto;
    margin-bottom: 30px;
}

.booter {
    width: 90%; 
    max-width: 1200px; 
    margin: 0 auto;
    margin-bottom: 150px;
}

.separator {
    margin: 0 0.3vw; 
}


.post {
    width: 100%;
    margin: 10px 0 10px 0;
    border-bottom: 1px solid #fff;
    padding: 10px 0;
}


.ID_posta, .tytul_posta, .my-image, .link_posta{
    display: inline-block;
    padding-right: 2vw;
}

.wynik_posta, .autor_posta, .data_posta, .ilosc_komment, .hide{
    display: inline-block;
    color: gray;
    padding-right: 2vw;
}

.link_posta {
    color: gray;
}

.showMore{
    margin-top: 400px;
}

.my-image {
    fill:white;
}

input[type="checkbox"]:checked + .my-image {
    fill:green;
}

footer {
    background: #000;
    color: white;
    text-align: center;
    padding: 0.6vw;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-item {
    margin: 0 0.6vw; 
    padding: 0.6vw 0.6vw;
}